*{
    box-sizing: border-box;
}
:root{
    --site-green:rgba(172, 207, 107, 0.803);
    --nav-green:rgba(90, 227, 126, 0.949);
    --shadow-dark: rgba(33, 98, 51, 0.745);
    --bold-green:rgba(46, 136, 73, 0.916);
    --border-black:black;
}
.main-title{
    color:rgb(164, 62, 44)
}


h1{
    text-align: center;
    color:tomato
}
h2{
    color: chocolate;
    text-align: center;
}
h3{
    text-align:start;
}
strong{
    color:var(--bold-green);
}
header{
    text-align: center;
}

body{
    min-height:100dvh ;
    background:linear-gradient(to bottom, var(--site-green));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size:x-large;
}


.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.images img{
    border: 4px solid ;
}
.videos{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    flex-wrap:wrap;
    gap: 18px;
    width: 100%;
    
}
.video-container{
    width: 100%;
    max-width: 600px;
    flex-basis:1 1 45%;
    aspect-ratio: 16  / 9;
}

.videos iframe{
    width: 100%;
    height: 100%;
    border: 4px solid var(--border-black);
    margin: 10px 10px;
 
}

.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: var(--border-black);
    color: rgb(87, 16, 9);
    font-size: larger;

}
.input{
 font-size:1.55rem ;
}


#search{
    margin-bottom: 8px;
}

nav{
    background-color:var(--nav-green);
    box-shadow: 5px 5px 4.5px var(--shadow-dark);
}
nav ul{
    width:100%;
    list-style:none;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
nav li{
    height: 40px;

}
nav a{
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.732)
}
nav a:hover{
    height:38px;
    background-color: rgba(60, 194, 113, 0.822);
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right:0;
    height: 100vh;
    width:235px;
    z-index:999;
    background-color: rgba(149, 233, 171, 0.319);
    backdrop-filter: blur(10px);
    box-shadow: 10px 4px 9.5px rgba(75, 122, 89, 0.558);
    display:none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
   
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}











